
{% extends "news/base.html" %}
{% block title %}News {{ post.week_end }} : {{ post.week_start }} {% endblock %}
{% block content %}

  <div class="container">
    <div >
     <button class="btn btn-secondary" onclick="goBack()" style="margin-top:20px;">Go Back</button>
      <h3 align="center" style="padding-bottom:40px"> World News {{ post.week_start | date:"d.m.y" }} - {{ post.week_end | date:"d.m.y" }}  </h3>
    </div>

    <div class="card-group">




        {% for subpost in post.subpost_set.all %}
  <div class="card article">
    <div class="card-block">
      <h4 class="card-title" align=center >{{ subpost.headline }}</h4>
        <img class="img-fluid" src="{% if subpost.image %}{{ subpost.image.url }}{% endif %} " >
        <p></p>
              <p class="card-text" style="text-align: justify;">
                  {{ subpost.body }}
              </p>
    </div>
    </div>
        {% endfor %}

    </div>
  </div>
{% endblock %}



