{% extends "news/base.html" %}
{% block title %}My Blog{% endblock %}
{% block content %}
 <div class="container">
    <div class="row"> <!-- hadelines for the news -->
      <div class="col-xs-6 col-s-6 col-md-6">
        <h2 align="center"> World News</h2>
      </div>
      <div class="col-xs-6 col-s-6 col-md-6">
        <h2 align="center"> Country News</h2>
      </div>
    </div>

    <div class="row"> <!-- news lists-->
<div class="wnews"  >


    {% for post in posts %}
         <a href="{{ post.get_absolute_url }}">
              <div class="news"  >
        <h3 align="center"> {{ post.week_start }} : {{ post.week_end }} </h3>

              {% for subpost in post.subpost_set.all %}
                  <h4 > {{ subpost.headline }}</h4>
              {% endfor %}

              </div>
         </a>

    {% endfor %}

      </div>
      <div class="cnews"  >
      <div class="news"  >
        <h3 align="center" > Week 12.01.2017-19.01.2017</h3>
        <h4> CN headline 1</h4>
        <h4> CN headline 2</h4>
        <h4> CN headline 3</h4>
        <h4> CN headline 4</h4>
        <h4> CN headline 5</h4>
      </div>
      </div>
    </div>
  </div>

{% endblock %}