
{% extends "news/base.html" %}
{% block title %}News{% endblock %}
{% block content %}
  <div >
    <h2 align="center" style="padding:40px; font-family:serif;"> World News</h2>
  </div>
<div class=" container">
  <div class="card-group">


    {% for post in posts %}
         <a href="{{ post.get_absolute_url }}">
             <div class="card">
        <div class="card-block news">
        <h3 align="center" > {{ post.week_start }} : {{ post.week_end }} </h3>

              {% for subpost in post.subpost_set.all %}
                  <h4 > {{ subpost.headline }}</h4>
              {% endfor %}

              </div>
             </div>
         </a>

    {% endfor %}


    </div>
  </div>

{% endblock %}