a{
  text-decoration: none;
  color:black;
  width:450px;
  height: auto;
}
a.hover{
  text-decoration: none;
  color:black;
  width:450px;
  height: auto;
}
div.container{
    width:960px;
}
body {
    font-family:serif;
    font-style:normal;
    font-size:20px;

}

.card{
    min-width:450px;
    max-width: 450px;
    border: 0px;
}

.card-header {
    background-color: #419BF9;
}

.news{
    font-family: serif;
    box-shadow: 0  0 5px #C6C6C6;
    border-style: solid;
    border-width: 1px;
    border-color: #419BF9;
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.news:hover{
    font-family: serif;
    box-shadow: 0 0 5px #C6C6C6;
    border-style: solid;
    border-width: 1px;
    border-color: #419BF9;
    background: rgba(65, 155, 249, 0.2);
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;

}

h4{
    padding:5px;
    text-decoration: none;
}
h4.hover{
    padding:5px;
    text-decoration: none;
}
h3{
    font-family: serif;
    padding-bottom: 20px;
    padding-top: 15px;
    text-decoration: none;
}
h3.hover{
    font-family: serif;
    padding-bottom: 20px;
    padding-top: 15px;
    text-decoration: none;
}
.leftside{
    text-align:left;
    padding: 0px;
    font-family:serif;

}

.rigthside{
    position:fixed;
    right:0px;
}

.centered{
    text-align: center;
    width:100%;
    height:35px;
    margin-left: 2%;
}

.card-text{
    text-align: justify;
}
